<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.5)), url(<%= image_path "cover.jpg" %>)">
  <div class="banner-content">
    <h1> Become a stellar bartender: <strong>Learn to make Cocktails </strong></h1>
    <p>Your cocktail manager save cocktails and its recepies </p>
  </div>
</div>



<ul>
  <%@cocktails.each do |cocktail|%>
  <li><%=link_to cocktail.name, cocktail_path(cocktail)%> </li>
  <%end%>

</ul>

